[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/pytorch"]
	path = thirdparty/pytorch
	url = https://github.com/joshuadahlunr/pytorch.git
	branch = VulkanFix
